.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}

.ant-carousel .locations__carousel .slick-dots li button {
  background: #f99d3a;
  opacity: 0.4;
}

.ant-carousel .locations__carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #f99d3a;
}

@media only screen and (min-width: 320px) {
  .ant-carousel .slick-prev,
  .ant-carousel .slick-next {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .ant-carousel .slick-prev,
  .ant-carousel .slick-next {
    display: block;
  }
}